.banner, .banner2{
    background-image: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner{
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-size: 16px;
    font-weight: 500;
    margin: 1em 0;
    padding: 0 2em;
    
}
.banner__pesquisa{
    width: 100%;
    background-color:transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 0.5em;
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    background: url(../img/lupa.svg) no-repeat;
    background-position: 1em;
}

.banner2{
    padding: 1em;
}

.banner__titulo-2{
    font-size: 16px;
    font-weight: 300px;
    text-transform: uppercase;
    margin: 1em;
}

.banner__topicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner__topicos-link{
    background-color: var(--laranja);
    padding: 1em;
    margin: 1em;
    color: var(--branco);
}

@media screen and (min-width: 1024px){
    .banner, .banner2{
        padding: 5em;
    }

    .banner__titulo{
        font-size: 36px;
    }

    .banner__texto{
        font-size: 14px;
        font-weight: 50%;
    }

    .banner__pesquisa{
        width: 400px;
    }

    .banner__pesquisa::placeholder{
        background-position: 4em;
    }

    .banner__titulo-2{
        font-size: 24px;
    }

    .banner__topicos-link{
        font-size: 24px;
        font-weight: 700;
        margin: 0.5em;
    }
}

@media screen and (min-width: 1728px){
    .banner__topicos{
        width: 50vw;
        margin: 0 auto;
    }
}
