
.cabecalho__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.container__botao:checked ~ .lista-menu{
    display: block;
    width: 60vw;
    background-color:var(--branco);
    color: var();
}

.menu__titulo{
    color: var(--laranja);
    padding: 1em ;
    font-weight: 700;
}

.lista-menu__item{
    padding: 1em;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}
