
.cabecalho__menu-hamburguer{
    height: 24px;
    width: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.container__botao:checked ~ .lista-menu{
    display: block;
    width: 60vw;
    background-color:var(--branco);
    color: var();
}

.container__botao:checked ~.container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url(../img/Menu\ Aberto.svg);
}

.container__botao:checked ~.container__rotulo {
    background: var(--azul-degrade);
    
} 

.menu__titulo{
    color: var(--laranja);
    padding: 1em ;
    font-weight: 700;
}

.lista-menu__item{
    padding: 1em;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}

.cabecalho__titulo, .options, .container__imagem-texto{
    display: none;
}


@media screen and (min-width: 1024px){
    .cabecalho{
        padding: 1em 2em;
    }
    .cabecalho__titulo, .cabecalho__titulo--negrito{
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }
    .cabecalho__titulo{
        font-weight: 400;
    }
    .cabecalho__titulo--negrito{
        font-weight: 700;
    }

    .container-favoritos, .cabecalho__menu-hamburguer, .menu__titulo
    {
        display: none;
    }
    
    .cabecalho__titulo, .cabecalho__options{
        display:block; 
    }

    .container__imagem{
        padding: 0 2em;
    }

    .options{
        display: flex;
    }

    .option__item{
        padding: 1em;
    }

    .opcoes_botao:checked ~ .lista-menu{
        display: block;
        width: auto;
        background-color:var(--branco);
        color: var();
    }

    .opcoes_botao{
        display: none;
    }

    .opcoes_botao:checked~.opicao__rotulo > .option__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover> .lista-menu__link{
        -webkit-text-fill-color:var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px){

    .cabecalho{
        padding: 1em 2em;
    }

    .options{
        margin-right: auto;
    }

    .container{
        justify-items: end;
    }

    .container__imagem-texto{
        display: block;
        padding-left: 0.5em;
    }

    .container-carrinho, .container-usuario{
        display: flex;
        align-items: center;
    }





}