@import url(header.css);
@import url(banner1.css);
@import url(carrossel.css);

:root {
    --cor-de-fundo: #EBECEE;
    --azul-degrade:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul:#002F52;
    --laranja:#EB9B00;
    --branco:#ffffff;
    --fonte-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}

